body{
    background-color: rgb(8, 0, 0);
}
.heading{
    color: white;
    text-align: center;   
}
.parent{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.box{
    border: 2px solid black;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 70px;
    background: linear-gradient(120deg, #1E3A8A, #3B82F6, #60A5FA, #93C5FD); 
    border-radius: 10px;
    height: 40vh;
    overflow: hidden;
    margin-bottom: 20vh;
    position: relative;
    z-index: 1;
}
 #weathercond{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    animation: fs-anime 3s linear infinite alternate;
    margin-top: 35px;
} 
@keyframes fs-anime {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.2);
    }

    
}
.info{
    margin-top: 12vh;
}
.location i{
    margin-right: 15px;
}
.location{
    font-size: xx-large;
    
}
.info #date{
    margin: 0px 0px 25px 30px;
    font-weight: lighter;  
}
.temp,.temp_minmax{
    margin: 0px 0px 25px 30px;
} 
.temp_minmax{
    font-weight: lighter;
}
.wave{
    opacity: 0.3;
    position: absolute;
    top: 130%;
    left: 50%;
    background-color: white;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 48%;
    border-radius: 48%;
    animation: drift 8000ms infinite linear;
    z-index: -1;

}
.wave .-three{
    animation: drift 6000ms infinite linear;
    z-index: 2 ;
    opacity: 0.2;
}
.wave .-two{
    animation: drift 7000ms infinite linear;
    z-index: 0.1 ;
    opacity: 0.2;
}

@keyframes drift {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


